include head.jade
        include head-nav.jade
        div#page-wrapper
            div.ng-scope
                    div.row
                        div.col-lg-12(ng-view)
                            h1.page-header Rebel Dashboard
                            p {{search}}
