body {
  background-color: #103054; }

.navbar-default .navbar-brand {
  color: #F9F5EB; }
  .navbar-default .navbar-brand a:hover {
    color: #F9F5EB;
    text-decoration: underline; }

.navbar-default {
  background-color: #103054; }

a {
  color: #F48A2C; }
