
img.pull-left.logo(src="../../img/logo.jpg")
h1.page-header Rebel Dashboard  

div.row
    div.col-lg-6
        div.panel.panel-default
            div.panel-heading
                h4 Server Network Info
            div.panel-body
                p Ip address: {{ network.address }}
                p Subnet Mask: {{ network.netmask }}
                p Family: {{ network.family }}
                p Mac: {{ network.mac }}

    div.col-lg-6
        div.panel.panel-default
            div.panel-heading
                h4 Rebel Speed Test
            div.panel-body
                p Run speed test to determine actual network bandwidth speeds
                button.btnStart.btn.btn-warning(type="button" ng-click="btnStartClick();") Speed Test
                div.panel.panel-primary(ng-show="title")
                    div.panel-heading
                        {{title}}
                    div.panel-body
                        p Download: {{ result.download }}
                        p Upload: {{ result.upload }}
                        p Test Server: {{ result.testServer }}
                        p IP Address: {{ result.ip_address }}

div.panel.panel-default
    div.panel-heading
        h4 Rebel Network Capture
    div.panel-body
        textarea.form-control
        button.btn.btn-primary#startServer(ng-click="buttonPress()") Start Server
