
h1.page-header Rebel Dashboard from Jade

button.btnStart(type="button" ng-click="btnStartClick()") Speed Test
div#msg

textarea.form-control
button.btn.btn-primary#startServer(ng-click="buttonPress()") Start Server
