 // Color Variables

$darkblue: #103054;
$offWhite: #F9F5EB;
$orange: #F48A2C;

body {
    background-color: $darkblue;
}

.navbar-default{
    .navbar-brand{
        color: $offWhite;
        a:hover {
            color: $offWhite;
            text-decoration: underline;
        }
    }
}

.navbar-default {
    background-color: $darkblue;
}

a {
    color: $orange;
}

.logo {
    zoom: 12%;
    padding-top: 65px;
    padding-right: 45px;
}
